<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Needed because APKDrop must compare the exact arbitrary package from the install contract.
         The app does not enumerate or upload the installed-app inventory. -->
    <!-- Arbitrary user-pinned packages cannot be expressed as static <queries>. No inventory scan is performed. -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="false"
        android:label="@string/app_name"
        android:icon="@drawable/ic_apkdrop"
        android:roundIcon="@drawable/ic_apkdrop"
        android:theme="@style/Theme.APKDrop">

        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="apkdrop.rawinstinctai.de" android:pathPrefix="/install/" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="apkdrop" android:host="install" />
            </intent-filter>
        </activity>

        <service android:name=".UpdateCheckJob" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true" />

        <provider
            android:name=".VerifiedApkProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>
</manifest>


